.center {
  justify-content: center;
}

a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  padding: 0 1rem;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  font-size: 1.6rem;
  font-weight: 900;
}

.title-2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  width: 100%;
}

.para {
  font-size: 1.154rem;
  font-weight: 600;
  line-height: 1.5;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.part-3, .part-4 {
  padding-top: 2rem;
}
.part-3 .card, .part-4 .card {
  border: none;
}
.part-3 .card img, .part-4 .card img {
  padding: 0.5rem;
  border: none;
}
.part-3 .card:hover, .part-4 .card:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.part-3 .card:hover h1, .part-4 .card:hover h1 {
  color: #ffc107;
}

header {
  background: url(../images/slide-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 4rem;
  padding-bottom: 15rem;
}
header nav .logo h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
}
header nav .logo h1 span {
  transition: all 0.5s ease;
  color: #ffc107;
}
header .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .nav-container a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  padding: 0 1rem;
}
header .nav-container a:hover {
  color: #ffc107;
}
header .nav-container .upper-nav ul {
  display: flex;
  flex-direction: row;
}
header .nav-container .upper-nav button {
  color: #ffffff;
  background-color: #ffc107;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-left: 0.3rem;
  border: none;
}
header .nav-container .lower-nav ul {
  display: flex;
  flex-direction: row;
}
header .Main-section {
  color: #ffffff;
  text-align: center;
}
header .Main-section h1 {
  padding-top: 10rem;
  font-size: 5.5rem;
  letter-spacing: 0px;
  font-weight: bolder;
}
header p {
  font-size: 1.154rem;
  font-weight: 600;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.5rem;
}
header .section {
  padding: 0.1rem 6rem;
}
header .main-btn {
  display: flex;
  flex-direction: row;
}
header .main-btn button {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  border-bottom: 4px #ffffff solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0px 1rem;
}
header .main-btn button:hover {
  border-bottom: 4px #ffc107 solid;
  color: #ffc107;
}

.section-1 {
  background-color: #ffffff;
}
.section-1 .part-1 {
  padding-top: 2.5rem;
}
.section-1 .part-1 h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 900;
}
.section-1 .part-1 h6 {
  color: #ffc107;
}
.section-1 .part-1 p {
  font-size: 1.154rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
}
.section-1 .part-1 .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.section-1 .part-1 .card-1 {
  background-image: url(../images/box-1-bg.jpg);
  margin: 2rem;
  padding: 3rem;
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
}
.section-1 .part-1 .card-2 {
  background-image: url(../images/box-2-bg.jpg);
  z-index: 1;
  padding: 1rem 1rem;
  background-position: center;
  background-size: cover;
  border: none;
}
.section-1 .part-1 .card-3 {
  background-image: url(../images/box-3-bg.jpg);
  position: relative;
  z-index: 1;
  margin: 2rem;
  padding: 3rem;
  background-position: center;
  background-size: cover;
}
.section-1 .part-1 button {
  color: #ffc107;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  border-bottom: 4px #ffc107 solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0px 1rem;
}
.section-1 .part-1 button:hover {
  border-bottom: 4px #ffffff solid;
  color: #ffffff;
}
.section-1 .part-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
.section-1 .part-2 button {
  color: #ffc107;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.3rem;
  border: 2px #ffc107 solid;
  margin: 1rem 1rem;
}
.section-1 .part-2 button:hover {
  color: #ffffff;
  background-color: #ffc107;
}

/* search-bar */
.search-bar {
  width: 100%;
  background: url(../images/search-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 6rem 0;
  margin-top: 5rem;
}

.dis {
  display: flex;
}

.search-bar a,
.search-bar h1,
.search-bar input {
  position: relative;
  z-index: 5;
  text-decoration: none;
  text-transform: uppercase;
}

.search-bar h1 {
  font-size: 2rem;
  color: #ffffff;
}

.search-bar input {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 10rem;
  height: 3rem;
  padding: 0 0.6rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.search-bar input::-moz-placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.search-bar input::placeholder {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.search-bar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffc107;
  opacity: 0.7;
  z-index: 2;
  transition: all 0.7s ease-in-out;
}

.search-bar .btn-5 {
  font-size: 1rem;
  font-weight: 600;
  color: #ffc107;
  background-color: #ffffff;
  padding: 0.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar .btn-5:hover {
  background-color: #111111;
}

.special-section {
  background-image: url(../images/special-bg.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
  padding: 5rem 2rem;
}
.special-section .img-container {
  flex: 0 0 50%;
  max-width: 50%;
}
.special-section .main-btn {
  display: flex;
  flex-direction: row;
}
.special-section .main-btn button {
  color: #ffc107;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  border-bottom: 4px #ffc107 solid;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0px 1rem;
}
.special-section .main-btn button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0.1rem;
  left: 0;
  background-color: #ffc107;
  z-index: -1;
  transition: all 0.5s ease;
}
.special-section .main-btn button:hover::after {
  height: 100%;
}
.special-section .main-btn button:hover {
  color: #ffffff;
}
.special-section p {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
  width: 90%;
}
.special-section h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: #ffffff;
}
.special-section h1 span {
  color: #ffc107;
  transition: all 0.5s ease;
}

.featured-games {
  background-color: #ffffff;
  padding: 4rem 2rem;
}
.featured-games span {
  color: #ffc107;
}

.blog-news {
  padding: 4rem 2rem;
}
.blog-news span {
  color: #ffc107;
}/*# sourceMappingURL=main.css.map */